@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.tableDiv34
{
    overflow-x:auto;
    overflow-y: auto;
    padding: 3vw;
    /* min-width: 400px; */
    
}


/* table class */
.table34 
{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 4px solid #03396c;
}

/* table class table headers and table data */
.table34 th,td
{
    text-align: left;
    padding: 12px;
}

.table34 th
{
    background-color: #03396c;
    color: #ddd;
}
  
/* color even rows in the table */
tr:nth-child(even)
{
    background-color: #f2f2f2
}

/* ///////////////////////////////////////////////////////////////////////////////// */

.btn-danger34
{
    width: 80px;
    height: 40px;
    cursor: pointer;

    border-radius: 6px;
    background-color:#03396c;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;

}

/* red button */
.danger34
{
    width: 80px;
    height: 40px;
    cursor: pointer;

    border-radius: 6px;
    background-color:red;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;

}

/* green button */
.success34
{
    width: 80px;
    height: 40px;
    cursor: pointer;

    border-radius: 6px;
    background-color:#03a827;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;

}

.btn-danger34:hover
{
    background-color: #f4511e;
   
}

.btn-success34
{
    width: 80px;
    height: 40px;
    cursor: pointer;
    border-radius: 6px;
    background-color:#03396c;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;

}

.btn-success34:hover
{
    background-color:#03a827;
   
}

.btn34
{
    min-width: 80px;
    height: 40px;
    cursor: pointer;

    border-radius: 6px;
    background-color:#03396c;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
	padding:2px;
	margin:2px;

}

.btn34:hover
{
    background-color:#096ecc;
}
