

.month {
    padding: 25px 20px;
    margin-bottom: 10px;
    background: #1abc9c;
    text-align: center
}

.month ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.month ul li {
    cursor: pointer;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .nxt {
    float: right;
    padding-top: 10px;
}


.calendar-table {
    border-collapse: collapse;
    width: 320px;
    height: 180px;
    text-align: center;
    font-family: arial, sans-serif;

}

.calendar-btn {
    padding: 10px 0;
    width: 100%;
    position: absolute;
    margin-top: 300px;
    z-index: 9;

}

.calendar-btn button {
 padding: 6px 12px;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
}

.calendarDiv {
    display: none;
    width: 320px;
}

#calendarTable_1 {
    display: block;
}

.calendar-body td:hover{ background-color: blue;}



.freeslot-table table th, td{
    text-align: center;
    padding: 3px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;

}

.calendar-body tr:hover {background-color:gray;}
