
body
{
    min-width: 300px;
    min-height: 500px;
    margin: 0px;
}



.mainPopupDiv
{
    
    display: none;
    text-align: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);   
    
}



.mainPopupDiv .innerPopupDiv
{
    margin: 10% auto 15% auto;
    width: 500px;
    height: 250px;
    background-color:white;
    box-shadow: -14px 9px 28px 0px rgba(0,0,0,0.54);
    border-radius: 30px;

}

.innerPopupDiv > .pButton
{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.popupText
{
    margin-left: 20px;
    margin-right: 20px;
    /* border: 2px solid black; */
    padding-top: 20px;
    
}

@media screen and (max-width:800px)
{
    .mainPopupDiv .innerPopupDiv
    {
        width: 70%;
        height: 200px;
    }

    .popupText
    {
        font-size: 14px;
        padding-top: 10px;
        
    }

    .innerPopupDiv > .pButton
    {
        margin-top: 50px;
    }
}




/* /////////////////////////normal///////////////////////////////////////////////////////////////////// */

.mainDiv
{
    border: 4px solid #03396c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-top: 200px; */
    /* margin-bottom: 200px; */
    margin: 0px auto 40px auto;
    padding: 20px 0px 20px 0px;
    

}

.topBar
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ddd;
    background-color:#03396c;
    height: 40px;
    /* margin-top: 30px; */
    margin: 40px auto 0px auto; 
    
}

.back
{
    padding-top: 10px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    direction: rtl;

}

.msg
{
    margin-left: 30px;
}



.confirm
{
    direction: rtl; 
}


.innerDiv
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.innerDiv:not(:last-child)
{
    margin-bottom: 40px;
}

.innerDiv .inputDiv
{
    display: flex;
}

@media screen and (max-width:1200px)
{
    .back
    {
        direction: ltr;
    }
}

@media screen and (min-width:900px)
{
    .mainDiv
    {
        width: 900px;
    }

    .back
    {
        width: 900px;
        margin: 0px auto 0px auto;
    }

    .confirm
    {
        width: 900px;
        margin: 0px auto 0px auto;
    }

    .topBar
    {
        width: 908px;
    }
}

@media screen and (max-width:490px)
{
    textarea
    {
        width: 200px;   
    }

    .mainDiv
    {
       
        margin-bottom: 80px;
    }

    .innerDiv input
    {
        width: 150px;
    }

    .back button
    {
        margin-top: 0px;
    }

    .back
    {
        padding-left: 4px;
        padding-right: 4px;
    }



}