:root {
  --main-color: #9053c7;
  --main-color-dark: #7437aa;
  --main-color-light: #b288d8;
  --gradient-color1: #c850c0;
  --gradient-color2: #4158d0;

  --light-grey: #f2f2f2;
  --main-grey: #8d8d8d;
  --a3-grey: #aaa;
  --d3-grey: #ddd;
  --off-white: #eee;

  --green: #4caf50;
  --red: #f44336;

  --blur-grey: rgba(57, 57, 57, .7);
  --blur-grey-dark: rgba(34, 34, 34, .7);
}

.showcase::after {
  background-image: url("../images/marketing-for-your-beauty-salon-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  transition: all 1000ms;
  z-index: -50;
}

.buttons {
  margin-top: -300px;
  z-index: 1;
}

.buttons .container div {
  background: var(--blur-grey);
  border-radius: 10px;
  padding-top: 10px;
  transition: all 500ms;
  z-index: 1;
}

.buttons .container div:hover {
  background: var(--blur-grey-dark);
  border-radius: 10px;
  padding-bottom: -10px;
  transform: translateY(-5px);
  z-index: 1;
  cursor: pointer;
}

button {
  background-color: white;
  color: black;
  width: 80px;
  padding: 8px 12px;
  text-align: center;
  font-size: 15px;
  margin: 2px 2px;
  border-radius: 3px;
  transition-duration: 0.4s;
  border: 2px solid var(--blur-grey);
}

.btn-red {
  border: none;
  border-radius: 10px;
  background: var(--blur-grey);
  color: white;
  margin-left: 10px;
}

.btn-red:hover {
  background: var(--blur-grey-dark);
}

.logout-btn {
  display: flex;
  flex-direction: row;
  position: relative;
  float: right;
  margin-right: 20px;
  /* left: 90%; */
  top: 10px;
  z-index: 5;
}

/* Small screens */
@media (max-width: 560px) {
  .logout-btn {
    flex-direction: column;
  }

  .buttons {
    margin-top: 0;
  }

  .buttons div {
    border-bottom: #333 dashed 1px;
    padding: 1.2rem 1 rem;
    transition: all 1000ms;
  }

  .buttons .container {
    transition: all 1000ms;
  }

  .buttons .container div h3 {
    font-weight: normal;
  }

  .buttons p {
    display: none;
  }

  .buttons div:hover > p {
    display: block;
  }

  button {
    border-radius: 12px;
    width: 40px;
  }

  button span {
    display: none;
    min-width: 40px;
  }
}

/* Landscape */
@media (max-height:500px) {
  .buttons {
    margin-top: -210px;
  }

  .buttons p {
    display: none;
  }

  .buttons .container div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 40px;
    max-height: 40px;
    padding: 30px 0;
  }

  .buttons .container div h3{
    display: none;
  }

  .buttons .container div i{
    font-size: 2.5rem;
  }

  .buttons .container div:hover > h3 {
    display: block;
    font-size: 1.1rem;
    font-weight: normal;
  }

  .buttons .container div:hover > i {
    display: none;
  }

  .content .logo {
    height: 100px;
    width: 100px;
  }
}

