
body{
    background-size: cover;
    background-repeat: no-repeat;
}

.subDiv{
    display: flex;
    flex-direction: column;
    height: auto;
}

/* Pop up */
.close-btn{
    position: relative;
    left: 95%;
    color:red ;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 10px;

}

.t-modal-close{
    position: absolute;
    left: 90%;
    top: 15px;
    padding: 6px;
    color: red;
}

.t-modal-close:hover{
    background-color: rgb(241, 99, 99);

}

.check-box{
    width: 15px;
}


/* Time pop up table */

.time-modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
}

.time-popup{

    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

.modal-header{
    background-color: aqua;
    position: relative;
    top: 0;
    text-align: center;
    font-size: medium;
}


.modal-content{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 500px;
    background-color: white;
    height: 500px;
    font-size: 20px;
    font-family: serif;
    border-radius: 15px;
}

.modal-btn{
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -50%);
}


.row-1{
    display: inline-flex;
    /*flex-direction: column;*/
    text-align: center;
}

.row-1 > div{
    margin: 10px;
}

.row-2{
    margin: 0;
    padding: 0;
    display: -ms-flexbox;
    flex-direction: row;
    height: auto;
}

.table{
    flex: 1;
    height: fit-content;
    height: auto;
    margin: 0;
    text-align: left !important;
}
.calendar{
    width: fit-content;
}

.calDiv{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    height: auto;
}


.add-btn{
    flex: 2;
    margin-left: 150px;
    margin: 20px;
    margin-left: 40%;

}
.cancel-btn{
    display: inline;
    margin-left: 10%;

}
.confirm-btn{
    display: inline;
    margin-left: 60%;
}


.subDiv > div{
    margin: 0px 0px 10px 10px;
}

.name-txt{

    border: 5px solid #48676c;
    border-radius:15px ;
    height: 40px;
    color: black;
    padding: 5px;
    width: 200px;
    font-size: 11px;
    outline: none;
}


/*Customer name Text Box */

input{

    margin-top: 0 !important;
    background-color: white;
    color: black !important;
    font-size: 14px !important;
    appearance: auto !important;
    -webkit-appearance: checkbox !important;

}
.row-1 label{
    color: black;
    font-style: italic;
    font-size: 14px;

}

.name-txt:hover{
    border: 5px solid #48676c;
}


/* Radio */
.radio-toolbar {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.radio-toolbar input[type="radio"] {

    opacity: 0;
    width: 0;
}

.radio-toolbar label {
    display: block;
    background-color: #f1f1f1;
    width: 60px;
    margin: 10px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    cursor: pointer;

}

.radio-toolbar label:hover {
    background-color:rgb(164, 164, 216);
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: blue;
}


select {
    border: 5px solid #48676c;
    border-radius:15px ;
    height: 40px;
    color: black;
    padding: 5px;
    width: 150px;
    font-size: 14px ;
    outline: none;
}

select:hover{
    border: 5px solid #96e6b3ff;
}


@media screen and (max-width:800px)
{
    .row-1
    {
        justify-items: center;
    }


    .row-2{
        flex-direction: column;
    }
}

