@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
  }
  
  @font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf');
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body,
  html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
    
  }
  
  a {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0;
    text-decoration: none;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
  }
  
  a:focus {
    outline: none !important;
  }
  
  a:hover {
    color: #7E4A93;
  }
  
  h1,h2,h3,h4,h5,h6 {
      margin: 0px;
  }
  
  p {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
  }
  
  ul, li {
    margin: 0px;
    list-style-type: none;
  }
  
  input {
    outline: none;
    border: none;
  }
  
  textarea {
    outline: none;
    border: none;
  }
  
  textarea:focus, input:focus {
    border-color: transparent !important;
  }
  
  input:focus::-webkit-input-placeholder { color:transparent; }
  textarea:focus::-webkit-input-placeholder { color:transparent; }
  input::-webkit-input-placeholder { color: #999999; }
  textarea::-webkit-input-placeholder { color: #999999; }
  
  button {
    outline: none !important;
    border: none;
    background: transparent;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  iframe {
    border: none !important;
  }
  
  .text-center {
    text-align: center;
    padding-top: 12px;
  }
  
  .txt1 {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.5;
    color: #999999;
  }
  
  .txt2 {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.5;
    color: #666666;
  }
  
  #register {
    padding-top: 136px;
  }
  
  .limiter {
    width: 100%;
    margin: 0px auto;
  }
  
  .container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #9053c7;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
  
  }
  
  .wrap-login {
    width: 960px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 177px 130px 133px 95px;
  }
  
  .login-pic {
    width: 316px;
  }
  
  .login-pic img {
    max-width: 100%;
  }
  
  .login-form {
    width: 290px;
  }
  
  .login-form-title {
    font-family: Poppins-Bold;
    font-size: 24px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
  
    width: 100%;
    display: block;
    padding-bottom: 54px;
  }
  
  .wrap-input {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
  }
  
  .input34 {
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
  
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0px 30px 0 68px;
  }
  
  .focus-input {
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0 0;
    color: rgba(126, 74, 147, 0.8);
  }
  
  .input34:focus + .focus-input {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
  }
  
  @-webkit-keyframes anim-shadow {
    to {
      box-shadow: 0px 0px 70px 25px;
      opacity: 0;
    }
  }
  
  @keyframes anim-shadow {
    to {
      box-shadow: 0px 0px 70px 25px;
      opacity: 0;
    }
  }
  
  .symbol-input {
    font-size: 15px;
  
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 35px;
    pointer-events: none;
    color: #666666;
  
    transition: all 0.4s;
  }
  
  .input34:focus + .focus-input + .symbol-input {
    color: #9053c7;
    padding-left: 28px;
  }
  
  .container-login-form-btn {
    width: 100%;
  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
  }
  
  .fa-long-arrow-right {
    margin-left: 5px;
  }
  
  .login-form-btn {
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
  
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #9053c7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    transition: all 0.4s;
  }
  
  .login-form-btn:hover {
    background: #333333;
  }
  
  @media (max-width: 992px) {
    .wrap-login100 {
      padding: 177px 90px 33px 85px;
    }
  
    .login100-pic {
      width: 35%;
    }
  
    .login100-form {
      width: 50%;
    }
  }
  
  @media (max-width: 768px) {
    .wrap-login {
      padding: 100px 80px 33px 80px;
    }
  
    .login-pic {
      display: none;
    }
  
    .login-form {
      width: 100%;
    }
  }
  
  @media (max-width: 576px) {
    .wrap-login {
      padding: 100px 15px 33px 15px;
    }
  }
  
  .validate-input{
    position: relative;
  }
  
  .alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: white;
    border: 1px solid #c80000;
    border-radius: 13px;
    padding: 4px 25px 4px 10px;
    top: 50%;
  
    transform: translateY(-50%);
    right: 8px;
    pointer-events: none;
  
    font-family: Poppins-Medium;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
  
    visibility: hidden;
    opacity: 0;
  
    transition: opacity 0.4s;
  }
  
  .alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    transform: translateY(-50%);
    right: 13px;
  }
  
  .alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
  }
  
  @media (max-width: 992px) {
    .alert-validate::before {
      visibility: visible;
      opacity: 1;
    }
  }

  .center{
    display: none;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
.header{
    background: linear-gradient(50deg, #3aa555, #4158d0);
    overflow: hidden;
    border-radius:3px 3px 0 0 ;
    box-shadow:0 2px 3px 0 rgba(0,0,0,.2) ;

}
.header h2{
    font-weight: normal;
    padding-left: 30px;
    color: white;
    height: 70px;
    padding-top: 20px;

    
}
.password-success-modal{
    width: 400px;
    height: 350px;
    background: white;
    border-radius: 3px;
    box-shadow:0 2px 12px 0 rgba(0,0,0,.4) ;
    
    
}
#success-pic{
   padding: 0;
    margin-left: 70px;
    width: 250px;
    height: 150px;
    
}

#p-status{
    font-weight: normal;
    text-align: center;
    font-size: 25px;
}

#model-btn {
    outline: none;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    height: 40px;
    width: 100px;
    border-radius: 25px;
    background: #18a07e;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    transition: all 0.4s;
    margin-left: 37%;
}

#model-btn:hover {
     background: #333333;
}


.data-validate::before {
  content: attr(data-error);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 13px;
  padding: 4px 25px 4px 10px;
  top: 50%;

  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;

  font-family: Poppins-Medium;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  transition: opacity 0.4s;
}


.data-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  transform: translateY(-50%);
  right: 13px;
}

.data-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .data-validate::before {
    visibility: visible;
    opacity: 1;
  }
}
