*
{
 margin: 0px;
 padding: 0px;
 font-family: monospace;
 text-decoration: none;
}

body{

  height: 100vh;
  background: url("../images/login1.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 30px;
}

#header{
  display: flex;
  color: white;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
}

a{
  margin-top: 10px;
  margin-right: 10px;
  color: white;
  font-size: 20px;
  display: block;
  align-items: none;
  justify-content: none;
  background: rgba(128,128,128,0.9);
  float: right;
  border-radius: 14px;
  padding: 4px 15px;
}

a:hover{
  color: #111;
  background: white;
}
