body
{
    min-width: 300px;
    min-height: 500px;
    margin: 0px;
    
}

.mainDiv
{
    margin-top: 0px;
    margin-bottom: 80px;
}

.back
{
    padding-top: 10px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    direction: rtl;

}


.mainDiv
{
    border: 4px solid #03396c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-top: 200px; */
    /* margin-bottom: 200px; */
    margin: 0px auto 100px auto;
    padding: 30px 0px 20px 0px;
    

}

.topBar
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ddd;
    background-color:#03396c;
    height: 40px;
   
    margin: 0px auto 0px auto;
    
    
    
}

@media screen and (max-width:1200px)
{
    .back
    {
        direction: ltr;
    }
}


@media screen and (min-width:900px)
{
    .mainDiv
    {
        width: 900px;
    }

    .back
    {
        width: 900px;
        margin: 0px auto 0px auto;
    }


    .topBar
    {
        width: 908px;
    }
}

@media screen and (max-width:900px)
{
    .back
    {
        padding-right: 4px;
        padding-left: 4px;
    }
}

@media screen and (max-width:490px)
{
    

    .back  .btn34
    {
        height: 40px;
        width: 70px;
        
        
    }

    .back
    {
        padding-left: 4px;
        padding-right: 4px;
    }


    .mainDiv
    {
        margin-top: 0px;
        margin-bottom: 80px;
    }
}

