#main{
  display:block;
  align-items: center;
  background: url("../images/marketing-for-your-beauty-salon-2.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: .5s;
  /* position: relative;  */
  /* adoooh meka weda neeh */
}

#welcome-message{
  position: flex;
  padding:15px 25px;
  width: 50%;
  background: rgba(67, 90, 102, .5);
  background-position: center;
  border-radius: 5px;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px #48676c;
  font-weight: 600;
  font-size: 50px;
  color:white;
  top:10%;
  left: 10%;
  right: 10%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all .5s;
}

#profile-picture{
  width: 50px;
  height:50px;
  background: url("../icons/download.png") no-repeat;
  background-size: cover;
  border-radius: 50px;
  float: right;
  /* margin-top: 1rem; */
  margin-top: 12px;
  margin-right: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.1s;
}

#profile-picture:hover{
  width: 52px;
  height:52px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

#navIcon{
  margin-top: 20px !important;
  display: flex;
}