.work-space {
  flex-direction: row;
}

.left-work-space {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  height: 100%;
  flex-grow: 1;
}

/* TODO fix background image css */
.right-work-space {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  height: 100%;
  flex-grow: 1;
}

.calendar {
  width: 500px;
  border: 1px solid var(--main-color-dark);
  height: 400px;
  padding: 10px;
}

/* Time pop up */

.time-slots-table {
  border-collapse: collapse;
  width: 100%;
}

.tbl-head {
  background: white;
  margin-top: 10px;
  height: 50px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

.time-slots th,
td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.time-slots-table tr:hover {
  background-color: #f5f5f5;
}

#time-slots-table {
  width: 500px;
  border: 1px solid var(--main-color);
}
/* add remove-ar-icon */

#ar-icon {
  color: green;
}

.calendar-div {
  display: flexbox;
  width: 100%;
}

.btn-bar {
  text-align: center;
  padding: 10px;
}

.btn-bar > button {
  margin-right: 100px;
}

/* Free slots table css */

.time-slots-div {
  display: none;
  height: 90%;
  overflow-y: auto;
}

.time-slots-table {
  border-collapse: collapse;
  width: 100%;
}

.time-slots th,
td {
  padding: 8px;
  border-bottom: 1px solid var(--d3-grey);
}

.time-slots-table tr:hover {
  background-color: var(--light-grey);
}
/*
    .time-slots-div{
      display: none;
    }
   */

/* add remove-ar-icon */

.tr-icon {
  color: var(--green);
}
.calendar-div {
  display: flexbox;
  width: 100%;
}

.btn-bar {
  text-align: center;
  padding: 10px;
}

.btn-bar > button {
  margin-right: 100px;
}

.calendar > .calendarDiv {
  background-color: white;
}

.table-div34 {
  margin-top: -340px;
  width: 80%;
}

@media (max-width: 1532px) {
  .table-div34 {
    margin-top: 0;
  }
}
