body
{
    min-width: 300px;
    min-height: 500px;
    margin: 0;
}

.mainDiv
{
    border: 4px solid #03396c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-top: 200px; */
    /* margin-bottom: 200px; */
    margin: 0px auto 30px auto;
    padding: 30px 0px 20px 0px; 
    overflow: auto;
    

}

.crsImg
{
    height: 20px; width: 20px; margin-right: 10px; cursor: pointer;

}

.top1 b
{
    margin: 0px auto 0px auto;

}

.birthday
{
    width: 183px;
}

.topBar
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ddd;
    background-color:#03396c;
    height: 40px;
    /* margin-top: 30px; */
    margin: 30px auto 0px auto;
    
    
    
}

/* .inDiv
{
    border: 2px solid black;
    margin-left: 120;
    margin-right: 120;
}

.inDiv2
{
    display: flex;
    justify-content: space-between;
} */
.confirm
{
    direction: rtl; 
}

.buttonDiv
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
}

.back
{
    padding-top: 10px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    direction: rtl;

}

@media screen and (max-width:1200px)
{
    .back
    {
        direction: ltr;
    }
}
@media screen and (min-width:900px)
{
    .mainDiv
    {
        width: 900px;
    }

    .back
    {
        width: 900px;
        margin: 0px auto 0px auto;
    }

    .confirm
    {
        width: 900px;
        margin: 0px auto 0px auto;
    }

    .topBar
    {
        width: 908px;
    }
}

.innerDiv
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.innerDiv:not(:last-child)
{
    margin-bottom: 40px;
}

.innerDiv .inputDiv
{
    display: flex;
}

.inputDiv select
{
    width: 180px;
    height: 25px;
}

@media screen and (max-width:490px)
{

    .mainDiv
    {
        margin-top: 0px;
        margin-bottom: 30px;
    }

    .innerDiv input
    {
        width: 150px;
    }

    .buttonDiv button
    {
        font-size: 14px;
        height: 35px;
    }

    .inputDiv select
    {
        width: 150px;
        height: 20px;
    }

    .back  .btn34
    {
        height: 40px;
        width: 70px;
        
        
    }

    .back
    {
        padding-left: 4px;
        padding-right: 4px;
    }


}

/* back popup */


.mainPopupDiv
{
    
    display: none;
    text-align: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);   
    
}

.top1
{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #ddd;
    background-color:#03396c;
    margin-bottom: 0px;
    height: 40px;
    margin-top: 40px;
    direction: rtl;
}

.pButton button
{
    font-size: 12px;
}

.mainPopupDiv .innerPopupDiv
{
    margin: 10% auto 15% auto;
    width: 500px;
    height: 250px;
    background-color:white;
    box-shadow: -14px 9px 28px 0px rgba(0,0,0,0.54);
    

}

.innerPopupDiv > .pButton
{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.popupText
{
    margin-left: 20px;
    margin-right: 20px;
    /* border: 2px solid black; */
    padding-top: 20px;
    
}

@media screen and (max-width:800px)
{
    .mainPopupDiv .innerPopupDiv
    {
        width: 70%;
        height: 200px;
    }

    .popupText
    {
        font-size: 14px;
        padding-top: 10px;
        
    }

    .innerPopupDiv > .pButton
    {
        margin-top: 50px;
    }

    .pButton button
    {
        width: 60px ;
        height: 35px;
    }
}

