.mainDiv
{
    border: 4px solid #03396c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-top: 200px; */
    /* margin-bottom: 200px; */
    margin: 0px auto 100px auto;
    padding: 30px 0px 20px 0px; 
    

}

.topBar
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ddd;
    background-color:#03396c;
    height: 40px;
    /* margin-top: 30px; */
    margin: 30px auto 0px auto;
    
    
    
}
.confirm
{
    direction: rtl; 
}

.buttonDiv
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
}

.back
{
    padding-top: 10px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    direction: rtl;

}

.plus
{
    width: 30px; 
    height: 30px; 
    cursor: pointer;
}
.price
{
    margin-right: 50px;
}
.time
{
    margin-left: -10px;
}
.type
{
    margin-right: 50px;
}
@media screen and (max-width:1200px)
{
    .back
    {
        direction: ltr;
    }
}
@media screen and (min-width:900px)
{
    .mainDiv
    {
        width: 900px;
    }

    .back
    {
        width: 900px;
        margin: 0px auto 0px auto;
    }

    .confirm
    {
        width: 900px;
        margin: 0px auto 0px auto;
    }

    .topBar
    {
        width: 908px;
    }
}

.innerDiv
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.innerDiv:not(:last-child)
{
    margin-bottom: 40px;
}

.innerDiv .inputDiv
{
    display: flex;
}

.inputDiv select
{
    width: 180px;
    height: 25px;
}

.blo
{
    /* border: 2px solid red; */
    margin: 10px;
    width: 180px;
    height: 25px;
    font-size: 15px;
}

.tr
{
    margin: 10px;
    font-size: 18px;
}

#option
{
    background-color: #03a827;
}

#option:hover
{
    background-color: none;
}

@media screen and (max-width:490px)
{
    textarea
    {
        width: 200px;   
    }

    .mainDiv
    {
        margin-top: 0px;
        margin-bottom: 80px;
    }

    .innerDiv input
    {
        width: 150px;
    }

  

    .buttonDiv button
    {
        font-size: 14px;
        height: 35px;
    }

    .inputDiv select
    {
        width: 150px;
        height: 20px;
    }

    .blo
    {
        /* border: 2px solid red; */
        margin: 10px;
        width: 150px;
        height: 20px;
        font-size: 14px;
    }

    .back  .btn34
    {
        height: 40px;
        width: 70px;
        
        
    }

    .back
    {
        padding-left: 4px;
        padding-right: 4px;
    }

}