body {
    font-family: "Lato", sans-serif;

  }

  .sidenav {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    background-color:#33373e;
    overflow-x: hidden;
    transition: 0.3s;
  }

  .imgIcon
  {
    width: 100px; height: 100px;
  }

  .imgDiv
  {
    /* border: 1px solid white; */
    text-align: center;
    margin-bottom: 20px;
  }

  #main
  {
    margin-left: 250px;
  }

  .sidenav a {
    
    padding: 0.4rem 0.4rem 0.4rem 1.25rem;
    text-decoration: none;
    font-size: 17px;
    border-top: 0px solid white;
    border-bottom: 0.1px solid rgba(255,255,255,.05);
    font-weight: 200;
    height: 60px;
    color:white;
    display: flex;
    transition: 0.5s ease;
    align-items: center;
    min-width: 300px;

  }

  .sidenav a:first-child 
  {
    border-top: 0px ;
    border-bottom: 0px ;
    height: 10px;
    
  }

  .sidenav a:nth-child(5)
  {
    border-top: 0.1px solid rgba(255,255,255,.05);
  }
  

  @media screen and (max-width:490px)
  {
    .sidenav a 
    {
      font-size: 15px;
      height: 45px;
      min-width: 180px;
    }
  }

  .sidenav a:last-child {

    margin-top:auto; margin-bottom: 20px;
    border-top: 0.1px solid rgba(255,255,255,.05);

    
  }

  .sidenav a:hover {
    color: #f1f1f1;
    padding-left: 2.3rem;
    font-weight: 700;
  }

  .sidenav .closebtn {
    position: absolute;
   
    font-size: 25px;
   
    /* border: 2px solid white; */
    
  }

  .closeIcon
  {
    
    display: none;
    height: 30px;
    direction: rtl;
    padding-right: 10px;
    font-size: 40px;
    padding-top: 5px;
    /* border: 2px solid white; */
  }

  .navIcon
  {
    font-size:30px;
    width: 30px;
    height: 30px;
    cursor:pointer;
    background-color: #435a66;
    border-radius: 6px;
    display: none;

  }

  .navIcon:hover{
    background-color: #128ea1;
  }

  .navIcon img
  {
    width: 20px;
    height: 20px;
    margin: 4px auto auto 4px;
  }

  

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    
  }

  @media screen and (max-width:1200px)
  {
    #mySidenav
    {
      width: 0px;
    }

    #main
    {
      margin-left: 0px;
    }

    .navIcon
    {
      display: block;
    }
    
    .closeIcon
    {
      display: block;
    }
  }
