.mainDiv
{
    border: 4px solid #03396c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-top: 200px; */
    /* margin-bottom: 200px; */
    margin: 0px auto 100px auto;
    padding: 30px 0px 20px 0px; 
    

}

.topBar
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ddd;
    background-color:#03396c;
    height: 40px;
    /* margin-top: 30px; */
    margin: 40px auto 0px auto;
    
    
    
}

.table34 .btn34
{
    width: 30px;
    height: 30px;
    margin: 0px auto 0px auto;
}


.confirm
{
    direction: rtl; 
}

.buttonDiv
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
}

.buttonDiv button
{
    height: 30px;
    font-size: 14px;
    width: 70px;
}
.back
{
    padding-top: 10px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    direction: rtl;

}

@media screen and (max-width:1200px)
{
    .back
    {
        direction: ltr;
    }
}
.cross
{
    height: 20px; 
    width: 20px; 
    margin-right: 10px; 
    cursor: pointer;
}
@media screen and (min-width:900px)
{
    .mainDiv
    {
        width: 900px;
    }

    .back
    {
        width: 900px;
        margin: 0px auto 0px auto;
    }

    .confirm
    {
        width: 900px;
        margin: 0px auto 0px auto;
    }

    .topBar
    {
        width: 908px;
    }
}

.innerDiv
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.innerDiv:not(:last-child)
{
    margin-bottom: 40px;
}

.innerDiv .inputDiv
{
    display: flex;
}

.inputDiv select
{
    width: 180px;
    height: 25px;
}

.blo
{
    
    
    font-size: 14px;
}

.tr
{
    margin: 10px;
    font-size: 18px;
}

#option
{
    background-color: #03a827;
}

#option:hover
{
    background-color: none;
}

@media screen and (max-width:490px)
{
    textarea
    {
        width: 200px;   
    }

    .mainDiv
    {
        margin-top: 0px;
        margin-bottom: 80px;
    }

    .innerDiv input
    {
        width: 150px;
    }

  

    .buttonDiv button
    {
        font-size: 14px;
        height: 35px;
    }

    .inputDiv select
    {
        width: 150px;
        height: 20px;
    }

    .blo
    {
        /* border: 2px solid red; */
        font-size: 14px;
    }
    .back  .btn34
    {
        height: 40px;
        width: 70px;
        
        
    }

    .back
    {
        padding-left: 4px;
        padding-right: 4px;
    }

}

/* popup */

.mainPopupDiv
{
    
    display: none;
    text-align: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin-left: -6px;
    margin-top: -50px;
    backdrop-filter: blur(5px);   
    
}

.top1
{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #ddd;
    background-color:#03396c;
    height: 40px;
    direction: rtl;
    margin-bottom: 20px;
}

.pButton button
{
    font-size: 12px;
    margin-top: -40px;
}

.innerPopupDiv
{
    margin: 80px auto 15% auto;
    width: 500px;
    height: 250px;
    background-color:white;
    box-shadow: -14px 9px 28px 0px rgba(0,0,0,0.54);
    
}

.innerPopupDiv > .pButton
{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pwd
{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    margin-left: 40px;
}

.pwd > input
{
    margin-top: 20px;
    height: 30px;
   
}

.popupText
{
    margin-left: 20px;
    margin-right: 20px;
    /* border: 2px solid black; */
    padding-top: 20px;
    
}

.innerPopupDiv > .button1
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

@media screen and (max-width:490px)
{
    .innerPopupDiv
    {
        width: 70%;
        height: 200px;
        margin: 10% auto 15% auto;
        
    }

    .popupText
    {
        font-size: 14px;
        padding-top: 10px;
        
    }

    .innerPopupDiv > .pButton
    {
        margin-top: 50px;
    }

    .pwd
    {
        flex-direction: column;
        margin-right: 10px;
        margin-left: 10px;
    }

    .pwd > input
    {
        margin-top: 10px;
        height: 30px;
       
    }

    .button1 button
    {
        
        height: 30px;
        font-size: 14px;
    }
}