.subDiv{
    display: -ms-flexbox;
    flex-direction: row;
}
.subDiv >div{
    text-align: center;
}

input[type="date"] {
   background-color: white;
    border: 5px solid #435a66;
    border-radius: 6px;
}
