
body
{
    min-width: 300px;
    min-height: 500px;
    margin: 0px;
}
.mainPopupDiv
{
    
    display: none;
    text-align: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);   
    margin-left: -6px;
    margin-top: -10px;
    
}

.top1
{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #ddd;
    background-color:#03396c;
    height: 40px;
    direction: rtl;
}

.top1 img
{
    height: 20px;
    width: 20px;
    margin-right: 10px; 
    cursor: pointer;
}

.top1 b
{
    margin: 0px auto 0px auto;
}

.topBar
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ddd;
    background-color:#03396c;
    height: 40px;
    /* margin-top: 30px; */
    margin: 40px auto 0px auto; 
    
}

.mainPopupDiv .innerPopupDiv
{
    margin: 80px auto 15% auto;
    width: 500px;
    height: 700px;
    background-color:white;
    box-shadow: -14px 9px 28px 0px rgba(0,0,0,0.54);
    overflow: auto;
    

}

.innerPopupDiv > .pButton
{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.popupText
{
    margin-left: 20px;
    margin-right: 20px;
    /* border: 2px solid black; */
    padding-top: 20px;
    
}

.buttonDiv
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
}

.buttonDiv button
{
    font-size: 14px;
   
}

.sn
{
    margin-left: 40px;
    width: 600px; padding: 5px;
}

.back
{
    padding-top: 10px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    direction: rtl;

}

.btn-success34.saveChanges_btn
{
    font-size: 14px;
}

@media screen and (max-width:1200px)
{
    .back
    {
        direction: ltr;
    }
}

@media screen and (max-width:490px)
{
    .mainPopupDiv .innerPopupDiv
    {
        width: 90%;
        height: 500px;
        margin: 20px auto 15% auto;
        overflow: auto;
       
    }

    .popupText
    {
        font-size: 14px;
        padding-top: 10px;
        
    }

    .innerPopupDiv > .pButton
    {
        margin-top: 50px;
    }

    .buttonDiv button
    {
        font-size: 14px;
        height: 35px;
    }
}

.back button
{
   
}


/* ////////////////////////////////////////////////////// */

.mainDiv
{
    border: 4px solid #03396c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-top: 200px; */
    /* margin-bottom: 200px; */
    margin: 0px auto 40px auto;
    padding: 20px 0px 20px 0px;
    

}

.confirm
{
    direction: rtl; 
}

@media screen and (min-width:900px)
{
    .mainDiv
    {
        width: 900px;
    }

    .back 
    {
        width: 900px;
        margin: 0px auto 0px auto;
    }

    .confirm
    {
        width: 900px;
        margin: 0px auto 0px auto;
    }

    .topBar
    {
        width: 908px;
    }
}

.innerDiv
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.buttonDiv.addLeave_btn
{
    margin-top: 30px;
}
.inputDiv select
{
    width: 150px; height: 30px;
}

.btn-success34.lng_btn
{
    width: 250px; height: 30px;
}

.toDate
{
    margin-right: 10px;
}

.innerDiv:not(:last-child)
{
    margin-bottom: 40px;
}

.innerDiv .inputDiv
{
    display: flex;
}

@media screen and (max-width:490px)
{
    textarea
    {
        width: 200px;   
    }

    .mainDiv
    {
       
        margin-bottom: 80px;
    }

    .innerDiv input
    {
        width: 150px;
    }

    .back button
    {
        margin-top: 40px;
    }



}