/* variables used */
:root {
  --main-color: #9053c7;
  --main-color-dark: #7437aa;
  --main-color-light: #b288d8;
  --gradient-color1: #c850c0;
  --gradient-color2: #4158d0;

  --light-grey: #f2f2f2;
  --main-grey: #8d8d8d;
  --a3-grey: #aaa;
  --d3-grey: #ddd;
  --off-white: #eee;

  --green: #4caf50;
  --red: #f44336;
}

body,
html {
  height: 100%;
  font-family: Poppins-Regular, sans-serif;
  overflow: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: var(--main-color);
  background: linear-gradient(
    -135deg,
    var(--gradient-color1),
    var(--gradient-color2)
  );
}

/* large main working area*/
.large-space {
  width: 90%;
  min-height: 90vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: var(--off-white);
}

/* medium main working area*/
.medium-space {
  width: 80%;
  height: 100%;
  min-height: 90vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: var(--off-white);
}

/* small main working area*/
.small-space {
  width: 60%;
  height: 100%;
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: var(--off-white);
}

/* heading for pages */
.heading {
  align-self: flex-start;
  text-transform: uppercase;
  color: var(--main-color);
  letter-spacing: 3px;
  line-height: 150%;
  font-size: 1.5em;
}

.work-space {
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 80%;
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 15px;
  background: #ffffff;
}

/* div for table */
.table-div34 {
  padding: 2vw;
  width: 100%;
}

/* table */
.table34 {
  border-collapse: collapse;
  width: 100%;
  border: 2.5px solid var(--main-color);
}

/* table headers and table data */
.table34 th,
.table34 td {
  text-align: left;
  border: 1px solid var(--d3-grey);
  padding: 8px;
}

.table34 th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: white;
  color: var(--main-color);
  border: 1px solid var(--main-color);;
}

/* color even rows of table */
tr:nth-child(even) {
  background-color: var(--light-grey);
}

/* small column for buttons */
.table34 .small-column {
  width: 60px;
}

.table34 .medium-column {
  width: 150px;
}

.table34 .large-column {
  width: 200px;
}

/* buttons */
.test-btn-container {
  display: flex;
  flex-direction: row;
  height: 30px;
}

button {
  background-color: white;
  color: black;
  width: 60px;
  padding: 8px 12px;
  text-align: center;
  font-size: 15px;
  margin: 2px 2px;
  border-radius: 3px;
  transition-duration: 0.4s;
  border: 2px solid var(--main-color);
}

.btn {
  background-color: white;
  color: black;
  min-width: 80px;
  padding: 8px 12px;
  text-align: center;
  font-size: 15px;
  margin: 2px 2px;
  border-radius: 3px;
  transition-duration: 0.4s;
  border: 2px solid var(--main-color);
}

button:hover {
  background-color: var(--main-color);
  color: white;
}

.btn:hover {
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
}

.btn-green {
  border: 2px solid var(--green);
}

.btn-green:hover {
  background-color: var(--green);
}

.btn-red {
  border: 2px solid var(--red);
}

.btn-red:hover {
  background-color: var(--red);
}

.btn-small {
  padding: 8px 4px;
  width: 29px;
  border-radius: 4px;
  color:  var(--main-color);
}

.btn-small-green {
  padding: 8px 4px;
  width: 29px;
  border: 2px solid var(--green);
  border-radius: 4px;
  color:  var(--green);
}

.btn-small-green:hover {
  background-color: var(--green);
}

.btn-small-red {
  padding: 8px 4px;
  width: 29px;
  border: 2px solid var(--red);
  border-radius: 4px;
  color:  var(--red);
}

.btn-small-red:hover {
  background-color: var(--red);
}

/* inputs */
.input-text-wrap{
    text-align: center;
    width: fit-content;
    height: fit-content;
}

label{
    display:block;
    position:relative;
    bottom:-17px;
    width:fit-content;
    left:10px;
    padding:0px 4px;
    background-color:white;
    font-size: 18px;
}

input{
    outline: none;
    border:2px solid var(--main-color);
    height: 30px;
    width: 350px;
    padding: 8px 4px;
    color: black !important;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: -1;
}

.input-text-wrap :hover{
    border:2px solid var(--main-color-dark);
}

label:hover{
    border: none !important;
}

/* select */
select {
    width: 150px;
    height: 40px;
    border-radius: 4px;
    padding: 5px;
    font-size: 15px;
    padding: 8px 0px;
    border: 2px solid var(--main-color);
    padding-right: 5px;
    margin: 0px 5px;
}

.form34 {
  width: 60%;
  justify-content: center;
}

.form34 input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px;
  font-size: 15px;
  font-weight: normal;\
  background: var(--d3-grey)
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid var(--main-color-dark);
}

.textarea-wrapper {
  width: 100%;
  min-width: 230px;
	height:150px;
	border:1px solid var(--main-color-dark);
	border-left: 4px solid var(--main-color-dark);
  border-right: 4px solid var(--main-color-dark);
  padding: 20px;
  margin-left: -20px;
}

.form34 textarea {
	border: none;
  width: 100%;
  height: 100%;
  padding: 0;
}

.special-note {
  color: var(--main-grey);
  padding: 20px;
}

.logout-btn {
  width: 100%;
}
