.month {
    padding: 25px 20px;
    background: white;
    align-self: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.month ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.month ul li {
    cursor: pointer;
    color: var(--main-color);
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    border-radius: 3px;
}

.month .prev {
    float: left;
    padding: 10px;
    /* padding-top: 0; */
}

.month .nxt {
    float: right;
    padding: 10px;
    /* padding-top: 0; */
}

.month .prev:hover{
    background-color: var(--main-color-dark);
    color: white;
}

.month .nxt:hover{
    background-color: var(--main-color-dark);
    color: white;
}

.calendar-table {
    border-collapse: collapse;
    width: 100%;
    height: 80%;
    text-align: center;
    font-family: arial, sans-serif;
}

.calendar-btn {
    padding: 10px 0;
    width: 100%;
    position: absolute;
    margin-top: 300px;
    z-index: 9;
}

.calendar-btn button {
    padding: 6px 12px;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
}

.calendarDiv {
    display: none;
    height: 100%;
    /* width: 320px; */
}

#calendarTable_1 {
    display: block;
}

.calendar-body td:hover{
     background-color: var(--main-color-light);
}

.freeslot-table table th, td{
    text-align: center;
    padding: 3px;
    cursor: pointer;
    border-bottom: 1px solid var(--d3-grey);
}

.calendar-body tr:hover {
    background-color: white !important;
}

.day-names{
    background: var(--main-grey);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
}
