
.month {
    padding: 25px 20px;
    
    background: #6495ED;
    text-align: center
}

.month ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.month ul li {
    cursor: pointer;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding: 10px;
}

.month .nxt {
    float: right;
    padding: 10px;
}

.month .prev:hover{
    background-color: rgb(89, 107, 128);
}
.month .nxt:hover{
    background-color: rgb(89, 107, 128);
}



.calendar-table {
    border-collapse: collapse;
    width: 100%;
    height: 80%;
    text-align: center;
    font-family: arial, sans-serif;
    

}

.calendar-btn {
    padding: 10px 0;
    width: 100%;
    position: absolute;
    margin-top: 300px;
    z-index: 9;

}

.calendar-btn button {
 padding: 6px 12px;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
}

.calendarDiv {
    display: none;
    /* width: 320px; */
}

#calendarTable_1 {
    display: block;
}

.calendar-body td:hover{
     background-color: rgb(70, 132, 143);
    

}

.freeslot-table table th, td{
    text-align: center;
    padding: 3px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;

}

.calendar-body tr:hover {
    background-color:white !important;
    
}

.day-names{
    background: #00CED1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.partly-booked{
    
}



